.meta-data title 使用rvm安裝ruby 2.1.3遇到的一些問題
.meta-data description 使用rvm安裝ruby 2.1.3遇到的一些問題
.meta-data datetime 2014-10-14 09:55:19
.meta-data tags ruby
.meta-data category coding
.meta-data link install-ruby-213-with-rvm
.meta-data file 2014-10-14-095519-install-ruby-213-with-rvm
.meta-data template post
.meta-data end

h1 更新rvm
h2 問題
pre
  code.hljs
    | $ rvm get stable
      Downloading https://get.rvm.io
      Downloading https://github.com/wayneeseguin/rvm/archive/stable.tar.gz
      Upgrading the RVM installation in /Users/wangkaito/.rvm/
          RVM PATH line found in /Users/wangkaito/.profile /Users/wangkaito/.zshrc.
          RVM PATH line not found for Bash, rerun this command with '--auto-dotfiles' flag to fix it.
          RVM sourcing line found in /Users/wangkaito/.bash_profile /Users/wangkaito/.zshrc /Users/wangkaito/.zlogin.
      Upgrade of RVM in /Users/wangkaito/.rvm/ is complete.
      # Sibevin Wang,
      #
      #   Thank you for using RVM!
      #   We sincerely hope that RVM helps to make your life easier and more enjoyable!!!
      #
      # ~Wayne, Michal & team.
      In case of problems: http://rvm.io/help and https://twitter.com/rvm_io
      Upgrade Notes:
        <span class="mk-red">/Users/wangkaito/.zshrc:62:export PATH="/Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/bin:/Users/wangkaito/.rvm/gems/ruby-2.0.0-p353@global/bin:/Users/wangkaito/.rvm/rubies/ruby-2.0.0-p353/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/X11/bin:/usr/local/git/bin:/Users/wangkaito/workspace/tools:/Users/wangkaito/.rvm/bin"</span>
        * WARNING: Above files contains `PATH=` with no `$PATH` inside, this can break RVM,
          for details check https://github.com/wayneeseguin/rvm/issues/1351#issuecomment-10939525
          to avoid this warning append #PATH.
        * No new notes to display.
      RVM reloaded!
h2 解法
p
  | 在export PATH中加入
pre
  code.hljs
    | export PATH=<span class="mk-blue">$PATH:</span>/Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/bin:/Users/wangkaito/.rvm/gems/ruby-2.0.0-p353@global/bin:/Users/wangkaito/.rvm/rubies/ruby-2.0.0-p353/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/opt/X11/bin:/usr/local/git/bin:/Users/wangkaito/workspace/tools:/Users/wangkaito/.rvm/bin
h1 安裝 ruby 2.1.3
h2 問題
pre
  code.hljs
    | $ rvm install ruby-2.1.3
      Searching for binary rubies, this might take some time.
      Found remote file https://rubies.travis-ci.org/osx/10.9/x86_64/ruby-2.1.3.tar.bz2
      Checking requirements for osx.
      ==> Upgrading 3 outdated packages, with result:
      libksba 1.3.1, libyaml 0.1.6, readline 6.3.8
      ==> Upgrading libksba
      ==> Installing libksba dependency: libgpg-error
      ==> Downloading https://downloads.sf.net/project/machomebrew/Bottles/libgpg-error-1.16.mavericks.bottle.tar.gz
      ######################################################################## 100.0%
      ==> Pouring libgpg-error-1.16.mavericks.bottle.tar.gz
      🍺  /usr/local/Cellar/libgpg-error/1.16: 15 files, 256K
      ==> Installing libksba
      ==> Downloading https://downloads.sf.net/project/machomebrew/Bottles/libksba-1.3.1.mavericks.bottle.tar.gz
      ######################################################################## 100.0%
      ==> Pouring libksba-1.3.1.mavericks.bottle.tar.gz
      🍺  /usr/local/Cellar/libksba/1.3.1: 12 files, 372K
      ==> Upgrading libyaml
      ==> Downloading https://downloads.sf.net/project/machomebrew/Bottles/libyaml-0.1.6.mavericks.bottle.tar.gz
      ######################################################################## 100.0%
      ==> Pouring libyaml-0.1.6.mavericks.bottle.tar.gz
      🍺  /usr/local/Cellar/libyaml/0.1.6: 7 files, 348K
      ==> Upgrading readline
      ==> Downloading https://downloads.sf.net/project/machomebrew/Bottles/readline-6.3.8.mavericks.bottle.tar.gz
      ######################################################################## 100.0%
      ==> Pouring readline-6.3.8.mavericks.bottle.tar.gz
      ==> Caveats
      This formula is keg-only, which means it was not symlinked into /usr/local.
      Mac OS X provides similar software, and installing this software in
      parallel can cause all kinds of trouble.
      OS X provides the BSD libedit library, which shadows libreadline.
      In order to prevent conflicts when programs look for libreadline we are
      defaulting this GNU Readline installation to keg-only.
      Generally there are no consequences of this for you. If you build your
      own software and it requires this formula, you'll need to add to your
      build variables:
          LDFLAGS:  -L/usr/local/opt/readline/lib
          CPPFLAGS: -I/usr/local/opt/readline/include
      ==> Summary
      🍺  /usr/local/Cellar/readline/6.3.8: 40 files, 2.1M
      Certificates in '/usr/local/etc/openssl/cert.pem' are already up to date.
      Requirements installation successful.
      ruby-2.1.3 - #configure
      ruby-2.1.3 - #download
        % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                       Dload  Upload   Total   Spent    Left  Speed
        0     0    0     0    0     0      0      0 --:--:--  0:00:05 --:--:--     0
      100 6864k  100 6864k    0     0   244k      0  0:00:28  0:00:28 --:--:--  279k
      No checksum for downloaded archive, recording checksum in user configuration.
      ruby-2.1.3 - #validate archive
      ruby-2.1.3 - #extract
      ruby-2.1.3 - #validate binary
      ruby-2.1.3 - #setup
      ruby-2.1.3 - #gemset created /Users/wangkaito/.rvm/gems/ruby-2.1.3@global
      ruby-2.1.3 - #importing gemset /Users/wangkaito/.rvm/gemsets/global.gems......................................................................
      ruby-2.1.3 - #generating global wrappers..............
      ruby-2.1.3 - #gemset created /Users/wangkaito/.rvm/gems/ruby-2.1.3
      ruby-2.1.3 - #importing gemsetfile /Users/wangkaito/.rvm/gemsets/default.gems evaluated to empty gem list
      ruby-2.1.3 - #generating default wrappers..............
      <span class="mk-red">/Users/wangkaito/.rvm/scripts/functions/support: line 480: 80121 Trace/BPT trap: 5       "$ruby_path" -rrbconfig -e '\
          File.open("'"$config_path"'","w") { |file|
            RbConfig::CONFIG.sort.each{|key,value|
              file.write("\#{key.gsub(/\.|-/,"_")}=\"\#{value.gsub("$","\\$")}\"\n")
            }
          }
        ' > /dev/null 2>&1
      Empty path passed to certificates update, functions stack: requirements_osx_update_openssl_cert_run rvm_requiremnts_fail_or_run_action __rvm_osx_ssl_certs_ensure_for_ruby __rvm_osx_ssl_certs_ensure_for_ruby_except_jruby external_import_setup external_import main</span>
h2 解法
p
  | 使用rvm install時，加上
  code
    | --disable-binary
pre
  code.hljs
    | $ rvm reinstall ruby-2.1.3 <span class="mk-blue">--disable-binary</span>
      ruby-2.1.3 - #removing rubies/ruby-2.1.3 - please wait
      Checking requirements for osx.
      Certificates in '/usr/local/etc/openssl/cert.pem' are already up to date.
      Requirements installation successful.
      Installing Ruby from source to: /Users/wangkaito/.rvm/rubies/ruby-2.1.3, this may take a while depending on your cpu(s)...
      ruby-2.1.3 - #downloading ruby-2.1.3, this may take a while depending on your connection...
        % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                       Dload  Upload   Total   Spent    Left  Speed
      100 11.4M  100 11.4M    0     0  1692k      0  0:00:06  0:00:06 --:--:-- 2232k
      ruby-2.1.3 - #extracting ruby-2.1.3 to /Users/wangkaito/.rvm/src/ruby-2.1.3 - please wait
      ruby-2.1.3 - #configuring - please wait
      ruby-2.1.3 - #post-configuration - please wait
      ruby-2.1.3 - #compiling - please wait
      ruby-2.1.3 - #installing - please wait
      ruby-2.1.3 - #making binaries executable - please wait
      Rubygems 2.2.2 already available in installed ruby, skipping installation, use --force to reinstall.
      ruby-2.1.3 - #gemset created /Users/wangkaito/.rvm/gems/ruby-2.1.3@global
      ruby-2.1.3 - #importing gemset /Users/wangkaito/.rvm/gemsets/global.gems - please wait
      ruby-2.1.3 - #generating global wrappers - please wait
      ruby-2.1.3 - #gemset created /Users/wangkaito/.rvm/gems/ruby-2.1.3
      ruby-2.1.3 - #importing gemsetfile /Users/wangkaito/.rvm/gemsets/default.gems evaluated to empty gem list
      ruby-2.1.3 - #generating default wrappers - please wait
      ruby-2.1.3 - #adjusting #shebangs for (gem irb erb ri rdoc testrb rake).
      Install of ruby-2.1.3 - #complete 
      Ruby was built without documentation, to build it run: rvm docs generate-ri
      Making gemset ruby-2.1.3 pristine - please wait
      Making gemset ruby-2.1.3@global pristine - please wait
h2 來源
p
  a href="http://stackoverflow.com/questions/22605921/fresh-installs-of-rvm-and-ruby-2-1-1-dyld-library-pathing-error" target="_blank"
    | SO - Fresh Installs of RVM and Ruby 2.1.1 - dyld library/pathing error
