.meta-data title Programmer Competency Matrix - 工程師等級量表
.meta-data datetime 2015-08-31 17:00:19
.meta-data tags link
.meta-data category tools
.meta-data link programmer-competency-matrix
.meta-data file 2015-08-31-170019-programmer-competency-matrix
.meta-data template link 
.meta-data website http://sijinjoseph.com/programmer-competency-matrix/
.meta-data end

ul
  li
    a href="http://sijinjoseph.com/programmer-competency-matrix/" target="_blank" 
      | http://sijinjoseph.com/programmer-competency-matrix/
h1 What
p
  | 看看你是哪種等級的工程師。
