.meta-data title paletton.com
.meta-data datetime 2015-08-21 13:00:42
.meta-data tags link
.meta-data category tools
.meta-data link paletton.com
.meta-data file 2015-08-21-130042-paletton.com
.meta-data template link

.meta-data end

ul
  li
    a href="http://paletton.com/" target="_blank" 
      | http://paletton.com/
h1 What
p
  | 非常強大的顏色選擇器。
