.meta-data title paletton.com - 強大的顏色選擇器
.meta-data datetime 2015-08-21 13:00:42
.meta-data tags link
.meta-data category tools
.meta-data link paletton.com
.meta-data file 2015-08-21-130042-paletton.com
.meta-data template link
.meta-data website http://paletton.com/
.meta-data end

.image-center.image-plane
  img src="/images/post/20160508123637357-paletton-screenshot.png" alt="paletton.com"
ul
  li
    a href="http://paletton.com/" target="_blank" 
      | http://paletton.com/
h1 What
p
  | 如題。
