.meta-data title www.angularjshub.com
.meta-data datetime 2015-09-03 13:33:23
.meta-data tags angularjs,link
.meta-data category tools
.meta-data link www.angularjshub.com
.meta-data file 2015-09-03-133323-www.angularjshub.com
.meta-data template link
.meta-data end

ul
  li
    a href="http://www.angularjshub.com/" target="_blank"
      | http://www.angularjshub.com/
h1 What
p
  | 很多AngularJS的使用範例，還有實際DEMO的程式碼，有code有真相。
