.meta-data title Learn Ruby the Hard Way
.meta-data datetime 2015-09-15 10:18:42
.meta-data tags ruby,link
.meta-data category tools
.meta-data link learnrubythehardway-book
.meta-data file 2015-09-15-101842-learnrubythehardway-book
.meta-data template link
.meta-data end

ul
  li
    a href="http://learnrubythehardway.org/book/" target="_blank" Homepage
h1 What
p
  | 包含很多寫ruby時重要的觀念與技巧。
