.meta-data title 什麼叫做贏？
.meta-data datetime 2015-08-20 15:51:20
.meta-data tags funny
.meta-data category life
.meta-data link what-is-winning
.meta-data file 2015-08-20-155120-what-is-winning
.meta-data template post

.meta-data end
p
  | 今天從我的老闆那聽到一個故事。
br
p
  | 你是一個習武之人，某天你拿到了一本武林祕笈而且練就了高深的武藝。在一個月夜風高的夜晚，你遇到了武林排名第一的人，你們決定來一場比試切磋一下，結果你竟然獲勝了。但當時沒有人在場，事後對方也不承認有比武這件事。請問你贏了嗎？
