.meta-data title Idiosyncratic Ruby - 記錄ruby語言特有的語法
.meta-data datetime 2016-05-11 09:23:53
.meta-data tags link
.meta-data category tools
.meta-data link idiosyncratic-ruby-com
.meta-data file 2016-05-11-092353-idiosyncratic-ruby-com
.meta-data template link
.meta-data website http://idiosyncratic-ruby.com/
.meta-data end

.image-center.image-plane
  img src="/images/post/20160511093002944-idiosyncratic-ruby-screenshot.png" alt="idiosyncratic-ruby.com"
  
ul
  li
    a href="http://idiosyncratic-ruby.com/" target="_blank" Homepage
    
h1 What
p
  | 記錄ruby語言特有的語法

h1 Why
p 
  | 這裡面有些東西我還是第一次看到啊。
