.meta-data title YARD標籤連結
.meta-data datetime 2016-06-02 21:00:10
.meta-data tags ruby,doc,cheat-sheet,link
.meta-data category tools
.meta-data link yard-tag-cheat-sheet
.meta-data file 2016-06-02-210010-yard-tag-cheat-sheet
.meta-data template post
.meta-data website http://www.rubydoc.info/gems/yard/file/docs/Tags.md
.meta-data end

ul
  li
    a href="http://www.rubydoc.info/gems/yard/file/docs/Tags.md" target="_blank" Homepage
h1 What
p
  | 如題。
h1 Why
p
  | 每次用都要找，所以就建了傳送門。
