.meta-data title emoji-cheat-sheet - emoji 速查表
.meta-data datetime 2016-07-23 21:48:41
.meta-data tags link
.meta-data category tools
.meta-data link link-emoji-cheat-sheet
.meta-data file 2016-07-23-214841-link-emoji-cheat-sheet
.meta-data template link
.meta-data website http://www.webpagefx.com/tools/emoji-cheat-sheet/
.meta-data end

ul
  li
    a href="http://www.webpagefx.com/tools/emoji-cheat-sheet/" target="_blank" Homepage
h1 What
p
  | 如題。
h1 Why
p
  | 最近迷上用這種東西啊… :kissing_heart:
