.meta-data title visualgo.net - 視覺化展示演算法
.meta-data datetime 2016-05-26 08:57:06
.meta-data tags alg,link
.meta-data category tools
.meta-data link visualgo-net
.meta-data file 2016-05-26-085706-visualgo-net
.meta-data template post
.meta-data website http://visualgo.net/
.meta-data end


.image-center.image-plane
  img src="/images/post/20160526091003408-visualgo-logo.png" alt="logo"
.image-center.image-plane
  img src="/images/post/20160526091010568-visualgo-index.png" alt="列表"
.image-center.image-plane
  img src="/images/post/20160526091018799-visualgo-demo.png" alt="Quick Sort"
ul
  li
    a href="http://visualgo.net/" target="_blank" Homepage
h1 What
p
  | 視覺化展示演算法。
h1 Why
p
  | 從這裡學演算法就對了。
