.meta-data title www.thesaurus.com - 幫你找英文的同義/反義字
.meta-data datetime 2016-05-08 10:47:56
.meta-data tags english,link
.meta-data category tools
.meta-data link link-thesaurus-com
.meta-data file 2016-05-08-104756-link-thesaurus-com
.meta-data template link
.meta-data website http://www.thesaurus.com/
.meta-data end

.image-center.image-plane
  img src="/images/post/20160508110449202-thesaurus-screenshot.png" alt="www.thesaurus.com"
ul
  li
    a href="http://www.thesaurus.com/" target="_blank" Homepage
h1 What
p
  | 幫你找英文的同義/反義字。
h1 Why
p
  | 當你需要命名的時候，你就知道有多好用。
