.meta-data title Oh My Dear JavaScript - js ==,===,if 對照表
.meta-data datetime 2017-03-30 14:44:43
.meta-data tags link,js
.meta-data category tools
.meta-data link link-on-my-dear-js
.meta-data file 2017-03-30-144443-link-on-my-dear-js
.meta-data template post
.meta-data website https://thomas-yang.me/projects/oh-my-dear-js/
.meta-data end

ul
  li
    a href="https://thomas-yang.me/projects/oh-my-dear-js/" target="_blank" Homepage
h1 What
p
  | js 的 ==,===,if 對照表。
h1 Why
p
  | 留著備而不用。
