.meta-data title Quasar 筆記
.meta-data datetime 2017-04-12 09:10:56
.meta-data tags js,vue,note
.meta-data category coding
.meta-data link note-quasar
.meta-data file 2017-04-12-091056-note-quasar
.meta-data template post
.meta-data end

h1 Init
pre
  code.nohighlight
    | $ quasar init [app_name]
      $ quasar dev
      $ quasar dev --play
