.meta-data title cssmatic - 好用的css特效即時編輯器
.meta-data datetime 2017-02-03 20:52:23
.meta-data tags link
.meta-data category tools
.meta-data link www.cssmatic.com
.meta-data file 2017-02-03-205223-www.cssmatic.com
.meta-data template post
.meta-data website http://www.cssmatic.com/
.meta-data end

ul
  li
    a href="http://www.thesaurus.com/" target="_blank" Homepage
h1 What
p
  | 好用的css特效即時編輯器，有漸層、邊界、雜訊、陰影可以使用。
h1 Why
p
  | 即見即所得。
