.meta-data title Open Source Guides
.meta-data datetime 2017-03-30 15:32:16
.meta-data tags article
.meta-data category tools
.meta-data link article-opensource-guide
.meta-data file 2017-03-30-153216-article-opensource-guide
.meta-data template post
.meta-data website https://opensource.guide/
.meta-data end

