.meta-data title Building command line tools with Node.js
.meta-data datetime 2017-03-30 14:56:17
.meta-data tags article,js
.meta-data category tools
.meta-data link article-build-command-line-tools-with-nodejs
.meta-data file 2017-03-30-145617-article-build-command-line-tools-with-nodejs
.meta-data template post
.meta-data website https://developer.atlassian.com/blog/2015/11/scripting-with-node/
.meta-data end

