.meta-data title devdocs.io - 開發文件集散地
.meta-data datetime 2017-03-31 11:48:03
.meta-data tags link
.meta-data category tools
.meta-data link link-devdocs-io
.meta-data file 2017-03-31-114803-link-devdocs-io
.meta-data template post
.meta-data website http://devdocs.io/
.meta-data end

ul
  li
    a href="http://devdocs.io/" target="_blank" Homepage
h1 What
p
  | 開發文件集散地，還支援離線查詢，根本是免錢的dash。
h1 Why
p
  | 查資料好用。
