.meta-data title Auth Boss - Learn about different authentication methodologies on the web
.meta-data datetime 2017-03-30 15:08:39
.meta-data tags article,js
.meta-data category tools
.meta-data link article-auth-boss
.meta-data file 2017-03-30-150839-article-auth-boss
.meta-data template post
.meta-data website https://github.com/teesloane/Auth-Boss
.meta-data end

