.meta-data title Carbide - js實驗場
.meta-data datetime 2017-03-30 15:03:21
.meta-data tags link,js
.meta-data category tools
.meta-data link link-carbide
.meta-data file 2017-03-30-150321-link-carbide
.meta-data template post
.meta-data website https://alpha.trycarbide.com/
.meta-data end

ul
  li
    a href="https://alpha.trycarbide.com/" target="_blank" Homepage
h1 What
p
  | js 的實驗場。支援ES6與hot-reload，儲檔直接上gist。
h1 Why
p
  | 要試js好用。
